[loggers]
keys=root,sLogger

[handlers]
keys=hand01,hand02

[formatters]
keys=form01,form02

[logger_root]
level=DEBUG
handlers=hand01

[logger_sLogger]
level=DEBUG
handlers=hand02,hand01
qualname=sLogger
propagate=0

[handler_hand01]
class=StreamHandler
level=DEBUG
formatter=form01
args=(sys.stderr,)

[handler_hand02]
class=FileHandler
level=DEBUG
formatter=form02
args=('/hydro/log/satellite_dynamicdata_modis-snow_log_history.txt', 'w')

[formatter_form01]
format=%(asctime)s %(name)-12s %(levelname)-8s %(filename)40s:[%(lineno)-6s - %(funcName)40s()] %(message)s
datefmt=
class=logging.Formatter

[formatter_form02]
format=%(asctime)s %(name)-12s %(levelname)-8s %(filename)40s:[%(lineno)-6s - %(funcName)40s()] %(message)s
datefmt=
class=logging.Formatter




