#-------------------------------------------------------------------------------------
# MODIS DynamicData OBS - Configuration DataDynamic
# Version 2.0.0 (20151015)
#-------------------------------------------------------------------------------------
										
#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic	=	{ 
    'FTP'	:	{
    
        'MYD10A1.005'	        :   { 	
            'VarType'	 		:	'Grid',
            'VarTimeStep' 		: 	86400,
            'VarAttributes'		: 	{
                'long_name' 		: '',
                'standard_name' 	: '',
                'grid_mapping' 	    : 'lon lat',
                'coordinates' 		: 'crs',
                'cell_method' 		: '',
                'units' 			: '',
                'pressure_level'	: '',
								    },
			'VarSource'			: 	'',
			'VarDims'			:	{'X': '', 'Y': ''},
			'VarOp'				:	{	
			    'Op_GetEx'      :       {	
					'Func' 				: 	'',
					'Name'				:	{ 'Product' : 'MYD10A1', 'Version': '005'}, #{ 'Product' : 'MOD10A1', 'Version': '005'},
					'Comp'				:	{ 'Tile1' : { 'H': 18, 'V': 4}, 'Tile2' : {	'H': 18, 'V': 5}, 'Tile3' : { 'H': 19, 'V': 4}, 'Tile4' : {	'H': 19, 'V': 5},}, 
					'Zip'				:	'',
					'ScaleFactor'		:	1,
					'Format'			:	'',
					'Missing_value'		:	None,
					'_FillValue'		:	None,
					'Valid_range'		:	'',
										},
			    'Op_Load'       :       {	
					'Func' 				: 	'',
					'Name'				:	'',
					'Comp'				:	{},    
					'Zip'				:	'',
					'ScaleFactor'		:	1,
					'Format'			:	'',
					'Missing_value'		:	None,
					'_FillValue'		:	None,
					'Valid_range'		:	'',
										},
				'Op_Save'       :       {	
					'Func' 				: 	'',
					'Name'				:	'',
					'Comp'				:	{},
					'Zip'				:	'',
					'ScaleFactor'		:	'',
					'Format'			:	'',
					'Missing_value'		:	None,
					'_FillValue'		:	None,
					'Valid_range'		:	'',
				                        },
				'Op_Math' :             {	
					'Interpolation' 	: 	{'Func' : ''},         
					'Conversion'		:	{'Func' : ''},
					'Disaggregation'	:	{'Func' : ''}, 														
					'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
						    	},
						    		
			  	                },
                        }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------			  	
# Data output dynamic dictionary 
oDataOutputDynamic	=	{  
    'NetCDF'	:	{
    
        'snow_cover_daily'	    : 	{	
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	86400,
		    'VarAttributes'		: 	{
                'long_name' 		: 'Snow cover extent by best observation of the day',
                'standard_name' 	: 'snow_cover_daily_tile',
                'grid_mapping' 	    : 'crs',
                'coordinates' 		: 'Longitude Latitude',
                'cell_method' 		: 'time: point',
                'units' 			: '-',
                'pressure_level'	: '',
                                    },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 		        : 	'',
	                'Name'			    :	'',
	                'Comp'			    :	{},
	                'Zip'			    :	'',
	                'ScaleFactor'	    :	1,
	                'Format'		    :	'',
	                'Missing_value'	    :	None,
	                '_FillValue'	    :	None,
	                'Valid_range'	    :	'',
					                    },
	            'Op_Load'       :       {	
		            'Func' 		   		: 	'',
		            'Name'			    :	'',
                    'Comp'			    :   {
                                                'IN' :   {'Var_1' : 'snow_cover_daily_tile'},                                                                                    
                                                'OUT':   {'Var_1' : 'snow_cover_daily'}, 
                                            },
		            'Zip'			    :	'',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'',
		            'Missing_value'	    :	None,
		            '_FillValue'	    :	None,
		            'Valid_range'	    :	'',
	                                    },
	            'Op_Save'       :       {	
		            'Func' 			    : 	'write2DVar',
		            'Name'			    :	'',
		            'Comp'			    :	{},
		            'Zip'			    :	'gz',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'i4',
		            'Missing_value'     :   -2,
		            '_FillValue'        :   -2,
		            'Valid_range'       :   '-2,2',
				                        },
	            'Op_Math'       :       {	
		            'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
		            'Conversion'		:	{'Func' : 'assignVarLUT',
										     'Keys' :   {	
											    'missing_data' 	: { 'modis' : 0, 	'final' : -1 	},
											    'no_decision'	: { 'modis' : 1, 	'final' : -1 	},
											    'night'			: { 'modis' : 11, 	'final' : -1 	},
											    'no_snow'		: { 'modis' : 25, 	'final' : 0 	},
											    'lake'			: { 'modis' : 37, 	'final' : -1 	},
											    'ocean'			: { 'modis' : 39, 	'final' : -1 	},
											    'cloud'			: { 'modis' : 50, 	'final' : 2 	},
											    'lake_ice'		: { 'modis' : 100, 	'final' : -1 	},
											    'snow'			: { 'modis' : 200, 	'final' : 1 	},
											    'detector_sat'	: { 'modis' : 254, 	'final' : -1 	},
											    'fill'			: { 'modis' : 255, 	'final' : -1 	},
											            }, 
											            }, 
		            'Disaggregation'	 :	{'Func' : ''},
		            'Aggregation'		 :	{'Func' : ''},
				                        },
                                    },
                                    },
                                    
        'snow_spatial_qa'	    : 	{	
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	86400,
		    'VarAttributes'		: 	{
                'long_name' 		: 'Spatial QA of the observation selected for the day',
                'standard_name' 	: 'snow_spatial_QA',
                'grid_mapping' 	    : 'crs',
                'coordinates' 		: 'Longitude Latitude',
                'cell_method' 		: 'time: point',
                'units' 			: '-',
                'pressure_level'	: '',
                                    },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 			    : 	'',
	                'Name'			    :	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
	                'Missing_value'		:	None,
	                '_FillValue'		:	None,
	                'Valid_range'		:	'',
					                    },
	            'Op_Load'       :   {	
		            'Func' 		   		: 	'',
		            'Name'			    :	'',
                    'Comp'			    :   {
                                                'IN' :   {'Var_1' : 'snow_spatial_qa'},                                                                                    
                                                'OUT':   {'Var_1' : 'snow_spatial_qa'}, 
                                            },
		            'Zip'			    :	'',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'',
		            'Missing_value'	    :	None,
		            '_FillValue'		:	None,
		            'Valid_range'		:	'',
	                                    },
	            'Op_Save'       :       {	
		            'Func' 			    : 	'write2DVar',
		            'Name'			    :	'',
		            'Comp'			    :	{},
		            'Zip'			    :	'gz',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'i4',
		            'Missing_value'     :   255,
		            '_FillValue'        :   255,
		            'Valid_range'       :   '0,254',
				                        },
	            'Op_Math'       :       {	
		            'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
		            'Conversion'		:	{'Func' : 'assignVarLUT', 
 											 'Keys' :   {	
											    'good_quality' 	    : { 'modis' : 0, 	'final' : 0 	},
											    'other_quality'	    : { 'modis' : 1, 	'final' : 1 	},
											    'mask_antarctica'	: { 'modis' : 252, 	'final' : 252 	},
											    'mask_land'		    : { 'modis' : 253, 	'final' : 253 	},
											    'mask_ocean'		: { 'modis' : 254, 	'final' : 254 	},
											    'fill'			    : { 'modis' : 255, 	'final' : 255 	},
                                                        },
											            },
		            'Disaggregation'    :	{'Func' : ''},
		            'Aggregation'	    :	{'Func' : ''},
				                        },
                                    },   
                                    },     
  
        'snow_spatial_qa_filter': 	{	
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	86400,
		    'VarAttributes'		: 	{
                'long_name' 		: 'Spatial QA of the observation selected for the day',
                'standard_name' 	: 'snow_spatial_QA_filter',
                'grid_mapping' 	    : 'crs',
                'coordinates' 		: 'Longitude Latitude',
                'cell_method' 		: 'time: point',
                'units' 			: '-',
                'pressure_level'	: '',
                                    },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 			    : 	'',
	                'Name'			    :	'',
	                'Comp'			    :	{},
	                'Zip'			    :	'',
	                'ScaleFactor'	    :	1,
	                'Format'		    :	'',
	                'Missing_value'     :	None,
	                '_FillValue'	    :	None,
	                'Valid_range'		:	'',
					                    },
	            'Op_Load'       :       {	
		            'Func' 		   		: 	'',
		            'Name'			    :	'',
                    'Comp'			    :   {
                                                'IN' :   {'Var_1' : 'snow_spatial_qa'},                                                                                    
                                                'OUT':   {'Var_1' : 'snow_spatial_qa_filter'}, 
                                            },
		            'Zip'			    :	'',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'',
		            'Missing_value'	    :	None,
		            '_FillValue'	    :	None,
		            'Valid_range'	    :	'',
	                                    },
	            'Op_Save'       :       {	
		            'Func' 			    : 	'write2DVar',
	                'Name'				:	'',
		            'Comp'				:	{},
		            'Zip'				:	'gz',
		            'ScaleFactor'		:	1,
		            'Format'			:	'f4',
		            'Missing_value'     :   -9999.0,
		            '_FillValue'        :   -9999.0,
		            'Valid_range'       :   '0,1',
				                        },
	            'Op_Math'       :       {	
		            'Interpolation'     : 	{'Func' : 'interpVarGridNN'},
		            'Conversion'	    :	{'Func' : 'assignVarLUT', 
 											 'Keys' :   {	
											    'good_quality' 	    : { 'modis' : 0, 	'final' : 1 	},
											    'other_quality'	    : { 'modis' : 1, 	'final' : 1 	},
											    'mask_antarctica'	: { 'modis' : 252, 	'final' : 0 	},
											    'mask_land'		    : { 'modis' : 253, 	'final' : 0 	},
											    'mask_ocean'		: { 'modis' : 254, 	'final' : 0 	},
											    'fill'			    : { 'modis' : 255, 	'final' : 0 	},
                                                        },
											            },
		            'Disaggregation'	:	{'Func' : ''},
		            'Aggregation'		:	{'Func' : 'aggregVarUniformArea', 'PxSideAggr': 100},
				                        },
                                    },
                                    },
 
        'snow_albedo_daily'     : 	{	
            'VarType'			:	'Grid',
	        'VarTimeStep'		:	86400,
	        'VarAttributes'		: 	{
                'long_name' 		: 'Snow albedo of the corresponding snow cover observation',
                'standard_name' 	: 'snow_albedo_daily_tile',
                'grid_mapping' 	    : 'crs',
                'coordinates' 		: 'Longitude Latitude',
                'cell_method' 		: 'time: point',
                'units' 			: '-',
                'pressure_level'	: '',
                                    },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
                    'Func' 			    : 	'',
                    'Name'			    :	'',
                    'Comp'			    :	{},
                    'Zip'			    :	'',
                    'ScaleFactor'	    :	1,
                    'Format'		    :	'',
                    'Missing_value'	    :	None,
                    '_FillValue'	    :	None,
                    'Valid_range'	    :	'',
				                        },
                'Op_Load'       :       {	
	                'Func' 		   		: 	'',
	                'Name'			    :	'',
                    'Comp'			    :   {
                                                'IN' :   {'Var_1' : 'snow_albedo_daily_tile'},                                                                                    
                                                'OUT':   {'Var_1' : 'snow_albedo_daily'}, 
                                            },
	                'Zip'			    :	'',
	                'ScaleFactor'	    :	1,
	                'Format'		    :	'',
	                'Missing_value'	    :	None,
	                '_FillValue'	    :	None,
	                'Valid_range'	    :	'',
                                        },
                'Op_Save'       :       {	
	                'Func' 			    : 	'write2DVar',
	                'Name'			    :	'',
	                'Comp'			    :	{},
	                'Zip'			    :	'gz',
	                'ScaleFactor'	    :	1,
	                'Format'		    :	'i4',
	                'Missing_value'     :   -6,
	                '_FillValue'        :   255,
	                'Valid_range'       :   '0,100',
			                            },
                'Op_Math'       :       {	
	                'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
	                'Conversion'		:	{'Func' : 'assignVarLUT', 
 											 'Keys' :   {	
										        'snow_albedo' 	    : { 'modis' : [0,100], 	'final' : [0,100]   },
										        'no_decision'	    : { 'modis' : 101, 	    'final' : 101 	    },
										        'night'	            : { 'modis' : 111, 	    'final' : 111 	    },
										        'land'		        : { 'modis' : 125, 	    'final' : 125 	    },
										        'inland_water'		: { 'modis' : 137, 	    'final' : 137 	    },
										        'ocean'		        : { 'modis' : 139, 	    'final' : 139 	    },
										        'cloud'		        : { 'modis' : 150, 	    'final' : 150 	    },
										        'missing'		    : { 'modis' : 250, 	    'final' : 250 	    },
										        'self_shadowing'	: { 'modis' : 251, 	    'final' : 251 	    },
										        'landmask_mismatch'	: { 'modis' : 252, 	    'final' : 252 	    },
										        'BRDF_failure'		: { 'modis' : 253, 	    'final' : 253 	    },
										        'non-prod_mask'		: { 'modis' : 254, 	    'final' : 254 	    },
                                                        },
                                                        },
	                'Disaggregation'    :	{'Func' : ''},
	                'Aggregation'	    :	{'Func' : ''},
			                            },
                                    },
                                    },
  
        'fractional_snow_cover' :   {	
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	86400,
		    'VarAttributes'		: 	{
                'long_name' 	    : 'Fractional snow covered land for the tile',
                'standard_name'     : 'fractional_snow_cover',
                'grid_mapping' 	    : 'crs',
                'coordinates' 	    : 'Longitude Latitude',
                'cell_method' 	    : 'time: point',
                'units' 		    : '-',
                'pressure_level'    : '',
                                    },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 			    : 	'',
	                'Name'			    :	'',
	                'Comp'			    :	{},
	                'Zip'			    :	'',
	                'ScaleFactor'	    :	1,
	                'Format'		    :	'',
	                'Missing_value'	    :	None,
	                '_FillValue'	    :	None,
	                'Valid_range'	    :	'',
					                    },
	            'Op_Load'       :       {	
		            'Func' 		   		: 	'',
		            'Name'			    :	'',
                    'Comp'			    :   {
                                                'IN' :   {'Var_1' : 'fractional_snow_cover'},                                                                                    
                                                'OUT':   {'Var_1' : 'fractional_snow_cover'}, 
                                            },
		            'Zip'			    :	'',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'',
		            'Missing_value'	    :	None,
		            '_FillValue'	    :	None,
		            'Valid_range'	    :	'',
	                                    },
	            'Op_Save'       :       {	
		            'Func' 			    : 	'write2DVar',
		            'Name'			    :	'',
		            'Comp'			    :	{},
		            'Zip'			    :	'gz',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'i4',
		            'Missing_value'     :   255,
		            '_FillValue'        :   255,
		            'Valid_range'       :   '0,254',
				                        },
	            'Op_Math'       :       {	
		            'Interpolation'	    : 	{'Func' : 'interpVarGridNN'},
		            'Conversion'	    :	{'Func' : 'assignVarLUT', 
 											 'Keys' :   {	
											    'fractional_snow' 	    : { 'modis' : [0,100], 	'final' : [0,100]   },
											    'missing_data'	        : { 'modis' : 200, 	    'final' : 200 	    },
											    'no_decision'	        : { 'modis' : 201, 	    'final' : 201 	    },
											    'night'		            : { 'modis' : 211, 	    'final' : 211 	    },
											    'land'		            : { 'modis' : 225, 	    'final' : 225 	    },
											    'inland_water'		    : { 'modis' : 237, 	    'final' : 237 	    },
											    'ocean'		            : { 'modis' : 239, 	    'final' : 239 	    },
											    'cloud'		            : { 'modis' : 250, 	    'final' : 250 	    },
											    'detector_saturated'	: { 'modis' : 254, 	    'final' : 254 	    },
											    'fill'	                : { 'modis' : 255, 	    'final' : 255 	    },
	                                                    },
	                                                    },
		            'Disaggregation'    :	{'Func' : ''},
		            'Aggregation'	    :	{'Func' : ''},
				                        },
                                    },
                                    },
    
        'Longitude'			    : 	{
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	0,
		    'VarAttributes'		: 	{
			     'long_name' 		: 'longitude coordinate',
			     'standard_name' 	: 'longitude',
			     'grid_mapping' 	: '',
			     'coordinates' 		: '',
			     'cell_method' 		: '',
			     'units' 			: 'degree_east',
			     'pressure_level'	: '',
		                            },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Load'       :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Save'       :       {	
	                'Func' 				: 	'write2DVar',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'gz',
	                'ScaleFactor'		:	1,
	                'Format'			:	'f4',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Math'       :       {	
	                'Interpolation' 	: 	{'Func' : ''},
	                'Conversion'		:	{'Func' : ''},
	                'Disaggregation'	:	{'Func' : ''},
	                'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
                                    },
                                    
       'Latitude'			    : 	{
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	0,
		    'VarAttributes'		: 	{
			     'long_name' 		: 'latitude coordinate',
			     'standard_name' 	: 'latitude',
			     'grid_mapping' 	: '',
			     'coordinates' 		: '',
			     'cell_method' 		: '',
			     'units' 			: 'degree_north',
			     'pressure_level'	: '',
		                            },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Load'       :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Save'       :       {	
	                'Func' 				: 	'write2DVar',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'gz',
	                'ScaleFactor'		:	1,
	                'Format'			:	'f4',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Math'       :       {	
	                'Interpolation' 	: 	{'Func' : ''},
	                'Conversion'		:	{'Func' : ''},
	                'Disaggregation'	:	{'Func' : ''},
	                'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
                                    },
                                    
        'Terrain'			    : 	{
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	0,
		    'VarAttributes'		: 	{
			     'long_name' 		: 'geometric height',
			     'standard_name' 	: 'altitude',
			     'grid_mapping' 	: '',
			     'coordinates' 		: '',
			     'cell_method' 		: '',
			     'units' 			: 'm',
			     'pressure_level'	: '',
		                            },
            'VarSource'	 		: 	'$PRODUCT.$VERSION_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Load'       :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Save'       :       {	
	                'Func' 				: 	'write2DVar',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'gz',
	                'ScaleFactor'		:	1,
	                'Format'			:	'f4',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Math'       :       {	
	                'Interpolation' 	: 	{'Func' : ''},
	                'Conversion'		:	{'Func' : ''},
	                'Disaggregation'	:	{'Func' : ''},
	                'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
                                    },
                                    
                    },
                    }


                        
#-------------------------------------------------------------------------------------	
