#-------------------------------------------------------------------------------------
# MODIS DynamicData OBS - Configuration DataStatic
# Version 2.0.0 (20151015)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
oDataInputStatic	=	{ 
    'ASCII'     :	{
        'Terrain'   : 	{
	        'VarType'			:	'Grid',
	        'VarTimeStep'		:	0,
	        'VarAttributes'		: 	{
                'long_name' 		: '',
                'standard_name' 	: '',
                'grid_mapping' 	    : '',
                'coordinates' 		: '',
                'cell_method' 		: '',
                'units' 			: 'm',
                'pressure_level'	: '',
							        },
	        'VarSource'	 		: 	'DemItalia_SCA.txt',
	        'VarDims'			:	{'X': '', 'Y': ''},
	        'VarOp'				:	{	
	            'Op_GetEx'      :       {	
					'Func' 				: 	'',
					'Name'				:	'',
					'Comp'				:	{},
					'Zip'				:	'',
					'ScaleFactor'		:	1,
					'Format'			:	'',
				                        },
	            'Op_Load'       :       {	
					'Func' 				: 	'ArcGrid',
					'Name'				:	'',
					'Comp'				:	'',
					'Zip'				:	'nzip',
					'ScaleFactor'		:	1,
					'Format'			:	'',
				                        },
	            'Op_Save'       :       {	
					'Func' 				: 	'',
					'Name'				:	'',
					'Comp'				:	{},
					'Zip'				:	'',
					'ScaleFactor'		:	'',
					'Format'			:	'',
				                        },
	            'Op_Math'       :       {	
					'Interpolation' 	: 	'',
					'Conversion'		:	'',
					'Disaggregation'	:	'',
					'Aggregation'		:	'',
				                        },
                                    },
						  	},	
					  	},
}	
#-------------------------------------------------------------------------------------
