#-------------------------------------------------------------------------------------
# MODIS DynamicData OBS - Configuration Algorithm
# Version 2.0.0 (20151015)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
				'DataStatic'			:	'/home/fabio/Desktop/Project_MODIS/data/static/',
				'DataDynamicSource'		:	'/home/fabio/Desktop/Project_MODIS/data/dynamic/source/$yyyy/$mm/$dd/', 	# Tags: yyyy, mm, dd
				'DataDynamicOutcome'	: 	'/home/fabio/Desktop/Project_MODIS/data/dynamic/outcome/$yyyy/$mm/$dd/',	# Tags: yyyy, mm, dd
				'DataCache'				:	'/home/fabio/Desktop/Project_MODIS/cache/$yyyy/$mm/$dd/',
				'DataTemp'				:	'/home/fabio/Desktop/Project_MODIS/temp/',
				'Library' 			    : 	'/home/fabio/Desktop/Programmazione/Modis_Reproj_Tool/bin/',
				}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
					'Conventions' 						:	'CF-1.6',
  				 	'title' 							: 	'MODIS DynamicData SNOW Pre-Processing',
  				  	'institution' 						: 	'CIMA Research Foundation - www.cimafoundation.org',
  				  	'web-site' 							: 	'http://continuum.cimafoundation.org',
  				  	'source' 							: 	'MODIS DynamicData SNOW',
  				  	'history'							: 	'Python Module - DynamicData SNOW in NetCDF format for MODIS data',
  				  	'references'						: 	'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
  				  	'comment'							: 	'Author(s): Fabio Delogu ; Simone Gabellani',
  				  	'email'								: 	'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org',
  				  	'project-info'						:	'MODIS Project',
  				  	'algorithm'							:	'MODIS DynamicData SNOW - Version 2.0.0 (20151015)',
		   		 }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
				'DomainName' 		:	'marche',			# string
			   	'TimeNow'			:	'201510120000',		# format yyyymmddHHMM (undefined == '' for op chain)
			   	'TimeStep'			:	86400, 				# seconds
			   	'TimePeriod'		:	48,					# ntimes per timestep data processing (min value == 1)
			   	'TimeUpd'			:	10,					# ntimes per timestep data re-processing (min value == 1)
			   	'TimeWorldRef'  :   {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype
			   	'FTP' 				: 	{ 	'Proxy'		: 'http://130.251.104.8:3128', 
			   						  		'Site'		: 'n5eil01u.ecs.nsidc.org',
			   						  		'Folder'	: 'MOST',
			   						  		'User'		: 'anonymous',
			   						  		'Password'	: 'anonymous',
			   						 	},
			 	'MRT'				:	{
			 								'SpacialSubset'	:	'OUTPUT_PROJ_COORDS',
			 								'Resampling'	:	'NN',
			 								'OutProj'		:	'GEO',
			 								'OutDatum'		:	'WGS84',
			 							},
				'FileConfigStatic'	:	'/home/fabio/Desktop/Project_MODIS/config_variables/satellite_dynamicdata_modis-snow_varstatic.config',
				'FileConfigDynamic'	:	'/home/fabio/Desktop/Project_MODIS/config_variables/satellite_dynamicdata_modis-snow_vardynamic.config',
			   }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {
					'epsg_code' : 						4326,
  				  	'grid_mapping_name' : 				'latitude_longitude',
  				  	'longitude_of_prime_meridian' : 	0.0,
  				  	'semi_major_axis' : 				6378137.0,
  				  	'inverse_flattening' : 				298.257223563,
		   		 }
#-------------------------------------------------------------------------------------

